<%- include partials/header.ejs %>

<%- include partials/top_nav.ejs %>
 
<main class="container text-center">
    <div class="jumbotron">
      <h1 class="display-4"><%= title %> </h1>
    </div>
  </main>
  

<%- include partials/content.ejs %>

<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>



