<%- include ../partials/header.ejs %> 
<%- include ../partials/top_nav.ejs %>

<main class="container">
  <br />
  <!-- Add Project Button -->
  <a href="/projects/add" class="btn btn-danger"
    ><i class="fa-regular fa-plus"></i> Add Project</a>
  <br />

  <!-- Project Grid Functionality 2 -->
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Description</th>
        <th scope="col">Deadline</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      <% for (let index = 0; index < projectList.length; index++){%>
      <tr>
        <td><%= projectList[index].title %></td>
        <td><%= projectList[index].description %></td>
        <td><%= projectList[index].deadline %></td>
        <td>
        <a
          href="/projects/edit/<%= projectList[index]._id%>"class="btn btn-info btn-sm">
          <i class="fa-solid fa-file-pen fa-lg"> </i> Edit</a
        ></td>
        <td>
          <a
          href="/projects/delete/<%= projectList[index]._id%>"class="btn btn-danger btn-sm" >
          <i class="fa-solid fa-trash-alt fa-lg"></i> Delete</a
          ></td>
      </tr>
      <%} %>
    </tbody>
  </table>
</main>

<%- include ../partials/bottom_nav.ejs %>
<%- include ../partials/footer.ejs %>
